<template>

    <h3 class="text-center">Annual Student Show</h3>
    <br />

    <div class="container">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Title</th>
                    <th scope="col">Action</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="item of submissionsArr">
                    <td>${$index + 1}</td>
                    <td>${item.user.firstName}</td>
                    <td>${item.user.lastName}</td>
                    <td><a href="mailto:${item.user.email}?subject=SVSU%20University%20Art%20Gallery&body=Dear ${item.user.firstName}, %0D%0A  %0D%0A${item.adminComments}%0D%0A %0D%0A Sincerely, %0D%0A %0D%0ATisch Lewis">
                        ${item.user.email}</a></td>
                    <td>${item.artwork.title}</td>
                    <td><button class="btn btn-secondary-outline"
                        click.delegate='RedirectToSingleSubmission(item)'>View</button></td>
                    <!--<a route-href="View1Submission; params.bind:{submission:item}">View</a>-->
                    <td>${item.status}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>