<template>
    <h1 style="text-align:center">Annual Student Show Application</h1>
    <div class="container" style="margin-top:30px;padding-right:100px;">
        <form with.bind="submissionData">
            <!--First name -->
            <div class="form-group row">
                <div class="col-sm-2 col-md-3">
                    <label for="fName">First Name</label>
                </div>
                <div class="col-sm-10 col-md-9">
                    <p>${submission.user.firstName}</p>
                </div>
            </div>

            <!--Last name -->
            <div class="form-group row">
                <div class="col-sm-2 col-md-3">
                    <label for="lName">Last Name</label>
                </div>
                <div class="col-sm-10 col-md-9">
                    <p>${submission.user.lastName}</p>
                </div>
            </div>

            <!-- Email -->
            <div class="form-group row">
                <div class="col-sm-2 col-md-3">
                    <label for="email">Email Address</label>
                </div>
                <div class="col-sm-10 col-md-9">
                    <p>${submission.user.email}</p>
                </div>
            </div>

            <!--Phone number -->
            <div class="form-group row">
                <div class="col-sm-2 col-md-3">
                    <label for="phone">Phone Number</label>
                </div>
                <div class="col-sm-10 col-md-9">
                    <p>${submission.user.phoneNumber}</p>
                </div>
            </div>

            <!-- Address -->
            <div class="form-group row">
                <div class="col-sm-2 col-md-3">
                    <label for="address">Address</label>
                </div>
                <div class="col-sm-10 col-md-9">
                    <p>${submission.user.address}</p>
                </div>
            </div>
            <br><hr><br>

            <!-- Artwork 1-->
            <h5 style="text-align:center">Artwork 1</h5>
            <br>
            <div class="form-group row">
                <div class="col-sm-2 col-md-3">
                    <label for="artworkTitle">Title</label>
                </div>
                <div class="col-sm-10 col-md-9">
                    <p>${submission.artwork.title}</p>
                </div>
            </div>

            <!-- Instructor -->
            <div class="form-group row">
                <div class="col-sm-2 col-md-3">
                    <label for="artworkInstructor">Instructor</label>
                </div>
                <div class="col-sm-10 col-md-9">
                    <p>${submission.artwork.instructor}</p>
                </div>
            </div>

            <!--Semester -->
            <div class="form-group row">
                <div class="col-sm-2 col-md-3">
                    <label for="semester">Semester Completed</label>
                </div>
                <div class="col-sm-10 col-md-9">
                    <p>${submission.artwork.semester}</p>
                </div>
            </div>

            <!--Class-->
            <div class="form-group row">
                <div class="col-sm-2 col-md-3">
                    <label for="artworkClass">Class</label>
                </div>
                <div class="col-sm-10 col-md-9">
                    <p>${submission.artwork.course}</p>
                </div>
            </div>

            <!--Medium -->
            <div class="form-group row">
                <div class="col-sm-2 col-md-3">
                    <label for="email">Medium</label>
                </div>
                <div class="col-sm-10 col-md-9">
                    <p>${submission.artwork.medium}</p>
                </div>
            </div>

            <!--Photo of artwork -->
            <div class="form-group row">
                <div class="col-sm-2 col-md-3">
                    <label for="artworkPhoto">Photo of Artwork</label>
                </div>
                <div class="col-sm-10 col-md-9">
                    <p>${submission.artwork.photo}</p>
                </div>
            </div>
            <br><hr><br>

            <!--Additional comments -->
            <div class="form-group">
                <label for="comments">Additional Comments</label>
                <p>${submission.submission.submissionComments}</p>
            </div>
            <br />
            <hr />
            <br />
            <!--Admin Accept/reject form-->
            <div style="padding:15px;">
            <div class="form-group row" >
                <div class="col-sm-6">
                    <div class="radio">
                        <label><input type="radio" name="rdoDecisionGroup" model.bind="true" checked.bind="selectedRadioBtn" checked>Accept</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="radio">
                        <label><input type="radio" name="rdoDecisionGroup" model.bind="false" checked.bind="selectedRadioBtn">Reject</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="comments">Review Comments</label>
                <textarea class="form-control" id="comments" rows="4" value.bind="submission.adminComments"></textarea>
            </div>
            </div>
            <br />

            <div class="text-center">
                <button type="submit" click.delegate="submitDecision()" class="btn btn-outline-secondary">Save</button>
            </div>
        </form>
        <br>
    </div>
</template>